Iconr
.dropbox
.DS_Store
*~
notes
references
presentation
figures
code/experiments/first_adhoc_test/init_jobs
code/experiments/first_adhoc_test/wait_jobs
code/experiments/first_adhoc_test/run_jobs
code/experiments/first_adhoc_test/end_jobs
code/experiments/first_adhoc_test/results
code/experiments/first_adhoc_test/condor_jobs
